
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>

        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

        @helper.javascriptRouter("jsRoutes")(
  			routes.javascript.HomeController.index,
  			routes.javascript.HomeController.logout
		)



	<script src="@routes.JavascriptRoute.javascriptRoutes" type="text/javascript"></script>
    </head>
    <body>
        @content
    </body>
</html>
